
/* ------main-header------- */
.mainHeader{
    /* margin: 0 auto; */
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
   
}

/* ------side-menu------- */
.side-menu{
    /* border-right: black dotted ; */
    border-width: 0.25rem;
}
.side-menu .button{
    height: 4rem;
    background-color: snow;
    margin: 0px 30px;
    border: 0.5px #ccc solid;
    font-size: large;
}

.button{
    border: none;
}

.sideBtn{
    text-decoration: none;
    color:saddlebrown;
    border-radius: 10px;
}

.sideSpace{
    height: 10%;
}

/* --------form---------- */
.form{
    
    color:slategray;
    font-size: 20px;
}

#inputDescription{
    padding: 5px 6px;
    letter-spacing: 0.5px;
    color: rgb(46, 44, 43);
    
}

#theFile {
    color: slategray;
    font-size: 16px;
}


/* ------form title------- */
.title{
    color:  rgb(117,76,36);
    border-bottom: rgb(117,76,36) solid 2px;
  
}

