
.html {
    height: 100%;
}

/* --------left sideList------ */
.sideList-title {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 0.5px solid #ccc; */
	background-color: rgb(219, 149, 117);
	color: white;
	font-size: 24px;
	letter-spacing: 2px;
	padding: 8px 0px;
}

.discount-title {
	background-color: rgb(206, 42, 42);
}

.sideList {
	padding: 10px;
	font-size: medium;
	background-color: white;
}

.sideList>a {
	font-family: mainfont-regular;
	text-decoration: none;
	font-size: 18px;
	color: saddlebrown;
}

.text-center {
	background-color: white;
}

/* ------ right product-title---- */
.catagory {
	margin-top: 30px;
    font-size: 24px;
	color: rgb(117, 76, 36);
	margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.catagory>a {
    margin: 2px 4px;
    padding: auto;
    text-decoration: none;
    color: rgb(117, 76, 36);
}

.catagory>i{
    font-size: 26px;
}

/* ---- right product page---- */

.productPage {
    margin-left: 50px;
}

.pictureandinfo{
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
    display: flex;
}
/* ---- product info---- */
.productInfo{
    padding-left: 30px;
}

.smallStyle{
    font-family: mainfont-light;
    color:rgb(60%, 60%, 60%);
}

.normalStyle{
    font-size: 22px;
    color: rgb(56, 48, 45);
    display: flex;
    flex-wrap: nowrap;
    padding: 3px;
}

.normalStyle div:nth-child(2){
    text-align: right;
}

.hidden{
    height: 35px;
}

/* 商品名稱 */
.productInfo h2{
    color: rgb(117, 76, 36);
}

/* 活動標籤 */
#commodityname{
    border: 0.1px red solid;
    color: red;
}

/* 數量調整 */
input[type="number"] {
    border-radius: 5px;
    width: 100px;
    height: 25px;
    background-color: #fff;
    color: rgb(56, 48, 45);
    text-align: right;
    margin-left: 5px;
    padding:3px;
}

/* 租賃候補按鈕 */
.submitBtn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 15px 0px;
    
}

/* 租賃期間 */
.expectedrentperiod{
    font-size:20px;
    color:rgb(145, 119, 100);
}



/* ----商品輪播圖片---- */

.productPicture {
    /* width: 35%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 商品小圖片 */
.smallImage{
    display: flex;
    justify-content:center ;
    padding: 15px 0px;
}

#submit_Btn{
    margin: 0px 10px;
    width: 60px;
    height: 60px;
}

/* 商品圖片 */
.img1, .img2, .img3 {
    height: 280px;
    width: 300px;
}

/* 小圖片 */
/* input { */
/*     width: 60px; */
/*     height: 60px; */
/*     margin: 10px; */
/* } */


/* -------- 商品詳情 -------*/
.productContent {
    padding: 20px 0px;
    border-bottom: inset 5px rgb(216, 196, 176);
}

.contentTitle{
    font-size: 26px;
    color: rgb(117, 76, 36);
    margin-bottom: 20px;
}

.productContent img{
    width:inherit;
}

/* ------comment----- */


.product-rate-title{
    padding: 15px 0px;
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);

}
.score{
    padding: 15px 0px;
	font-family: mainfont-light;
    color: rgb(56, 48, 45);
    text-align: right;
}

.comment{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    background-color: rgb(245, 238, 207);
    border-radius: 50px;
    margin-bottom: 15px;
}

.comment div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color:sienna;
}

.memberImg img{
    border-radius: 60px;
    width: 120px;
    height: 120px;
}

.comment div:nth-child(3){
    color: orange;
}

.comment div:nth-child(4){
    color: white;
    font-size: 14px;
}

.comment div:nth-child(5){
    justify-content: start;
}
/* ------預約POPOUT----- */
/* 視窗標題字與背景的顏色 */
.reservationtittle{
	background: #412e11;
	color: white;
}

/* 按鈕大小 */
.reservationbtn{
	width: 80px;
	height: 40px;
}

.note{
	font-family: mainfont-light;
}
/* .word {
    word-break: break-all;
    font-size: 1.3rem;
} */

/*大頭照 */
/* .imgTop {
    margin-left: 20px;
    width: 250px;
    height: 100px;
}

.imgMid {
    margin: -5px 10px auto 100px;
    width: 50px;
    height: 50px;
} */

/* 留言板start */
/* li {
    list-style: none;
}

#parent {
    margin-top: 25px;
}

h4 {
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    color: #FF3300
}

p {
    width: 100%;
    background: #f1f1f1;
    position: relative;
    margin-bottom: 25px;
}

#box {
    width: 580px;
    padding: 25px 10px 0;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

span {
    position: absolute;
    top: -20px;
    right: 0px;
}

em {
    position: relative;
    top: -13px;
}

#text {
    width: 100%;
    height: 90px;
    overflow: auto;
}

#btn {
    width: 15%;
    height: 25px;
}

#modal-header{
    background-color: #ffa500;
    
} */


/* 留言板end */


/* .sideMenu {
    margin-top: -35px; */
    /* width: 13%; */
    /* background-color: springgreen; */
/* } */

/* --------sideList-title------ */
/* .sideList-title {
    /* width: 90%; */
    /* background-color: saddlebrown;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}  */

/* --------sideList------

.sideList {
    padding: 10px;
    font-size: larger;
} */

