

/* --------product-title------ */
.rentProductMenu-title {
	margin-top: 30px;
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
}

/* --------sideList-title------ */
.sideList-title {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(117, 76, 36);
	color: white;
	border-radius: 10px;
}

/* --------sideList------ */
.sideList {
	padding: 10px;
	font-size: larger;
	background-color: white;
}

