.html {
    height: 100%;
}

/* --------sideList------ */
.sideList-title {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 0.5px solid #ccc; */
	background-color: rgb(219, 149, 117);
	color: white;
	font-size: 24px;
	letter-spacing: 2px;
	padding: 8px 0px;
}

.discount-title {
	background-color: rgb(206, 42, 42);
}

.sideList {
	padding: 10px;
	font-size: medium;
	background-color: white;
}

.sideList>a {
	font-family: mainfont-regular;
	text-decoration: none;
	font-size: 18px;
	color: saddlebrown;
}

.text-center {
	background-color: white;
}


/* --------product-title------ */
/* .rentProduct-title-catalog {
	margin-top: 30px;
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
} */

/*.allPage {
    width: 100%;
    background-color: royalblue;
    display: flex;
    margin-left: 20px;
} */

/* .sideMenu {
    margin-top: -35px;
    width: 13%;
    background-color: springgreen; 
} */



/* --------product-title------ */
.catagory {
	margin-top: 15px;
	font-family: mainfont-medium;
    font-size: 24px;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.catagory>a {
    margin: 2px 4px;
    padding: auto;
    text-decoration: none;
    color: rgb(117, 76, 36);
}

.catagory>i{
    font-size: 26px;
}

.allPage {
    /* width: 100%; */
    /* background-color: royalblue; */
    display: flex;
}

.productPage {
    /* display: flex; */
    /* height: 100%; */
    /* width: 80%; */
    margin-left: 50px;
    /* background-color: seagreen; */
}
.pictureandinfo{
	 border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
}
.productShell {
    display: flex;
   
}
/* 商品圖片外框 */

.productPicture {
    width: 35%;
    /* margin-left: 10px; */
    /* background-color: tomato;  */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 商品圖片 */

.img1, .img2, .img3 {
    /* height: 300px;
    width: 350px; */
    display: flex;
    justify-content:center ;
    padding: 15px 0px;
}

#submit_Btn{
    margin: 0px 10px;
    width: 60px;
    height: 60px;
}

/* 商品狀態 */

.productInfo {
    margin-left: 10px;
    width: 75%;
    /* background-color: yellow; */
}

/* 數量調整 */

input[type="number"] {
    width: 80px;
    height: 20px;
    background-color: turquoise;
    text-align: right;
}

/* 商品狀態 label */

label {
    margin-bottom: 2px;
}

/* 小圖片 */
input {
    width: 60px;
    height: 60px;
    margin: 10px ;
}

/* 商品詳情 */
.productDet {
  
    margin-left: 10px;
    border: 1px solid rgb(60%, 60%, 60%);
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;

}

/*大頭照 */
.imgTop {
    margin-left: 20px;
    width: 250px;
    height: 100px;
}

.imgMid {
    /* margin: 40px auto auto 70px; */
    margin: -5px 10px auto 100px;
    width: 50px;
    height: 50px;
}

/* 評價顯示 */

.product-rate-title{
	 
  margin-top: 30px;
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
}
.score{
	margin-top: 30px;
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
}
.word {
    word-break: break-all;
    font-size: 1.3rem;
}


/* 留言板start */
li {
    list-style: none;
}

#parent {
    margin-top: 25px;
}

h4 {
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    color: #FF3300
}

p {
    width: 100%;
    background: #f1f1f1;
    position: relative;
    margin-bottom: 25px;
}

#box {
    width: 580px;
    padding: 25px 10px 0;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

span {
    position: absolute;
    top: -20px;
    right: 0px;
}

em {
    position: relative;
    top: -13px;
}

#text {
    width: 100%;
    height: 90px;
    overflow: auto;
}

#btn {
    width: 15%;
    height: 25px;
}
/* 留言板end */
