
.button{
    margin-right: 50px;
    
}

.changmtitle{

    font-size: 30px;
    margin-left: 30px;
    color: rgb(117,76,36);
    
}

.container{
   
    border:black solid ;
   /* background-color: #474747;*/
   border-radius: 30px;
   
}



